* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-Montserrat: "montserrat", sans-serif;
  /* Recordar Montserrat Weigth de 300 Apoyo y 700 Principal */
  --font-Mortise: "Mortise", sans-serif;
  /* Recordar Mortise Weigth de 200 para secundarios  */
  --Palatine-Blue: #5129e0;
  --Federal-Blue: #250e62;
  --White-Smoke: #f2f2f2;
  --Night-: #0d0e0f;
}
.headSectionTipoEndodoncia{
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.titleNroConductos {
  font-size: 1.5rem;
  margin-bottom: 0px;
}
.nroConductos {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.accordionsConductoContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.tecnicaIrrigacionContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
}
.concentracionIrrigacion{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.notShowIsSano {
  display: none;
}
.isSanoContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}