* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-Montserrat: "montserrat", sans-serif;
  /* Recordar Montserrat Weigth de 300 Apoyo y 700 Principal */
  --font-Mortise: "Mortise", sans-serif;
  /* Recordar Mortise Weigth de 200 para secundarios  */
  --Palatine-Blue: #5129e0;
  --Federal-Blue: #250e62;
  --White-Smoke: #f2f2f2;
  --Night-: #0d0e0f;
}

.navbarFormMainContainer {
  height: 60px;
  background-color: var(--Federal-Blue);
  border: 1px solid black;
  width: 100%;
  padding: 0px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.oddiLogoNavbar {
  width: 100px;
}

.bi {
  color: var(--Night-);
}

.buttonInt {
  border-radius: 50px;
  padding: 0 20px;
  font-family: var(--font-Montserrat);
  font-size: 1.2rem;
  background-color: var(--White-Smoke);
}

.buttonInt:hover {
  background-color: var(--Palatine-Blue);
  color: var(--White-Smoke);
}

.olBodyModal {
  font-family: var(--font-Montserrat);
}