* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-Montserrat: "montserrat", sans-serif;
  /* Recordar Montserrat Weigth de 300 Apoyo y 700 Principal */
  --font-Mortise: "Mortise", sans-serif;
  /* Recordar Mortise Weigth de 200 para secundarios  */
  --Palatine-Blue: #5129e0;
  --Federal-Blue: #250e62;
  --White-Smoke: #f2f2f2;
  --Night-: #0d0e0f;
}
.pruebasVitalidadMainContainer {
  font-family: var(--font-Montserrat);
  padding: 10px;
}
.titleVitalidad{
  font-weight: 700;
  margin-bottom: 0px;
  font-size: 1.5rem;
}
.titleVitalidadContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notShow {
  display: flex;
  flex-wrap: wrap;
  height: 0;
  display: none;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}

.btnsVitalidadContainer{
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  opacity: 1;
  transition: height 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
.btnsVitalidad{
  display: flex;
  flex-wrap: wrap;
}