* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-Montserrat: "montserrat", sans-serif;
  /* Recordar Montserrat Weigth de 300 Apoyo y 700 Principal */
  --font-Mortise: "Mortise", sans-serif;
  /* Recordar Mortise Weigth de 200 para secundarios  */
  --Palatine-Blue: #5129e0;
  --Federal-Blue: #250e62;
  --White-Smoke: #f2f2f2;
  --Night-: #0d0e0f;
}
.appMainContainer {
  /* background-color: var(--Federal-Blue); */
  background-color: var(--White-Smoke);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.optionsContainerApp {
  width: 50%;
}

.tituloEva { 
  font-family: var(--font-Montserrat);
  color: var(--White-Smoke);
  font-weight: 700;
  padding: 0 10px;
}
.btnEvacontainer {
  padding: 0 10px;
  border: solid white 1px;
}
.btnCopiarConsultaContainer {
  display: flex;
  padding: 10px;
  justify-content: end;
  gap: 10px ;
}
.btnCopiarConsulta {
  font-family: var(--font-Montserrat);
  padding: 5px 20px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid green;
}
.btnCopiarConsulta:hover {
  background-color: green;
  color: var(--White-Smoke);
}
.btnLimpiarCampos {
  font-family: var(--font-Montserrat);
  padding: 5px 20px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid red;
}
.btnLimpiarCampos:hover {
  background-color: red;
  color: var(--White-Smoke);
}

/* ----------MediaQueries------------ */

@media (max-width: 426px) {
  .optionsContainerApp {
    width: 100%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .optionsContainerApp {
    width: 80%;
  }
}