* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-Montserrat: "montserrat", sans-serif;
  /* Recordar Montserrat Weigth de 300 Apoyo y 700 Principal */
  --font-Mortise: "Mortise", sans-serif;
  /* Recordar Mortise Weigth de 200 para secundarios  */
  --Palatine-Blue: #5129e0;
  --Federal-Blue: #250e62;
  --White-Smoke: #f2f2f2;
  --Night-: #0d0e0f;
}
.taperContainer {
  display: flex;
  gap: 10px;
  font-family: var(--font-Montserrat)
}
.titleTaper {
  font-size: 1.5rem;
  margin-bottom: 0;
}
